.test {
  background-image: url('./img/dropDownArrow.svg');
  width:100px;
  height:100px
}

.test-multiple-words {
  background-image: url('./img/dropDownArrow.svg');
  width:100px;
  height:100px
}
